:root {
    font-size: 82.5%
}

.hero {
    background-image: url("../images/purple-hero2.png");
    max-width: 100%;
    height: 25rem!important;
    display: block;
}

.sidebar {
    background-color: tan;
    background-size: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-size: 2rem;
  }

.sidetitle {
    height: 80vh;
    /* text-align: right;
    align-self: center; */
    border-right: 2px solid black;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

main {
    flex: 1 0 auto;
    margin-top: 20rem;
}

.mugshot {
    padding: 2rem;
}
.main-body {
    background-color: honeydew;
    background-size: 100%;

}

.qc {
    border: 1px solid black;
    padding: 1rem!important;
    margin-bottom: 2rem;
}

.github {
    padding: 2rem;
}

.linked-in {
    width: 8rem;
}
/* 
.mugshot {
    width: 10rem;
} */

.example-text {
    border-radius: 10px;
    position: relative;
    background-color: rgba(121, 118, 118, 0.5);
    padding: 1rem;
    top: 50%;
    left: 0%;
    /* transform: translate(-50%, -50%); */
    color: transparent;
    width: 100%;
    height: 100%;
    float: left;
    display: ;
}

.example-text:hover {
    border-radius: 10px;
    position: relative;
    background-color: rgba(121, 118, 118, 0.3);
    padding: 1rem;
    top: 50%;
    left: 0%;
    /* transform: translate(-50%, -50%); */
    color: white;
}

.main-screenshot {
    filter: blur(4px);
}

.main-screenshot:hover {
    filter: blur(1px);
    transition: 0.5s;
}

.screenshot {
    filter: blur(4px);
}

.screenshot:hover {
    filter: blur(1px);
    transition: 0.5s;
}

.page-footer {
    background-image: url("../images/purple-footer3.png");
    max-width: 100%;
    height: auto;
}