:root {
    font-size: 62.5%
}

header {
    top: 0;
    background-color: none;
    
}
.hero {
    background-image: url("../images/purple-hero2.png");
    max-width: auto;
    height: 25rem!important;
    display: block;
    top: 0;
    color: white;
    font-family: 'Russo One', sans-serif;
}

.hero > h1 {
    margin-left: 3rem;
}

.hero > ul > li > a {
    margin-right: 3rem;
    color: rgb(211, 208, 208);
}
/* .sidebar {
    border-right: 2px solid black;
} */

.custom-row {
    margin-bottom: 0!important;
}

main {
    margin-bottom: 0!important;
}
body {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    font-size: 2rem;
  }

.about-text {
    padding-top: 4rem;
    font-size: 2rem;
    margin-left: 2rem;
}

.main {
    flex: 1 0 auto;
    /* margin-top: 12.3rem; */
    margin-bottom: 0;
}

main > div > .row {
    margin-bottom: 0;
}

.mugshot {
    margin-top: 2rem;
    max-height: 45rem;
    margin-left: 6rem;
}
.main-body {
    background-color: rgba(233, 218, 231, 0.856);
    background-size: 100%;
    border-left: 1px solid black;
}

.qc {
    border: 1px solid black;
    padding: 1rem!important;
    /* margin-bottom: 1rem; */
    justify-content: center;
}

.github {
    padding: 2rem;
    width: 15%;
    max-width: 20rem;
}

.linked-in {
    width: 8rem;
}

.example-container {
    position: relative;
    text-align: center;
    height: 20%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    /* background-color: #008CBA; */
    /* filter: blur(4px); */
  }

.example-container:hover .overlay {
    opacity: 1;
    /* filter: blur(1px); */
}

.example-text {
    border-radius: 8px;
    position: absolute;
    background-color: rgba(90, 88, 88, 0.3);
    padding: 1rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    width: auto;
    height: auto;
}

.furbabies {
    height: 20rem;
    /* width: auto; */
    border-radius: 8px;
}

div > h6 {
    font-style: italic;
}

.example-container .screenshot {
    filter: blur(4px);
}

.example-container:hover .screenshot {
    filter: none;
    transition: .5s ease;
}

.page-footer {
    background-image: url("../images/purple-footer3.png");
    width: 100%;
    height: auto;
    font-family: 'Orbitron', sans-serif;
    line-height: 2;
}


@media only screen and (min-width: 1200px) {
    html {
        font-size: 15px;
    }
}
@media only screen and (min-width: 992) {
    html{
        font-size: 50%;
    }
}

@media only screen and (min-width: 0) {
    html {
        font-size: 40%;
    }
}